=form_for [@book, @chapter] do |f|
  .form_group
    =f.label :name, "Name"
    =f.text_field :name, class: "form-control"
    %br
    =f.label :body, "Body"
    =f.text_area :body, class: "form-control"
    %br
    =f.label :chapter_order, "Order"
    =f.text_field :chapter_order, class: "form-control", placeholder: "default"
    =f.submit :class => "btn btn-primary"
