.col-sm-2
.col-sm-8
  %h1=@chapter.name
  %p#sandbox{:style => "white-space: pre-wrap"}
    =@chapter.body
  .pull-right
    -if @next_chapter
      =link_to "Next Chapter", chapter_path(@next_chapter), {:style=>'color:#000000;'}
    -else
      =link_to "Complete!", book_path(@book), {:style=>'color:#000000;'}
  %input#chapter_id{:type => "hidden", :value => @chapter.id}/

  -# =form_for [@chapter, @annotation] do |f|
  -#   .form-group
  -#     =f.label :note, "Note"
  -#     =f.text_field :note, class: "form-control"
  -#
  -#   .form-group
  -#     =f.text_area :description, class: "form-control"
  -#     =f.text_area :description, class: "form-control"
  -#     =f.text_area :description, class: "form-control"
  -#
  -#   =f.submit class: "btn btn-primary"
