.col-sm-2
.col-sm-8
  %h1=@chapter.name
  %p#sandbox{:style => "white-space: pre-wrap"}
    =@chapter.body
  .pull-right
    -if @next_chapter
      =link_to "Next Chapter", chapter_path(@next_chapter), {:style=>'color:#000000;'}
    -else
      =link_to "Complete!", book_path(@book), {:style=>'color:#000000;'}
  %input#chapter_id{:type => "hidden", :value => @chapter.id}/

.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#mySmallModalLabel.modal-title New Annotation
      .modal-body
        =form_for [@chapter, Annotation.new], remote: true do |f|
          .form-group
            %span#original_word
            =f.text_area :note, class: "form-control"
          =f.submit "Create", class: "btn btn-default btn-block btn-primary"
